/Alma AI
/Last year project/dataset
/Last year project/model_env
/Last year project/Model-1/trained_disease_model
/Last year project/results
/Last year project/Model-2/biobert_results
/Last year project/Model-2/logs
/Last year project/skin